.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color: var(--mat-sys-primary-container);
}

.sidenav-title {
  background-color: var(--mat-sys-primary-container);
  color: var(--mat-sys-on-primary-container);
}

.icon {
  color: var(--mat-sys-on-primary-container) !important;
}
