.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  color: var(--mat-sys-on-primary-container);
}

.icon {
  --size: 36px;
  font-size: var(--size);
  width: var(--size);
  height: var(--size);
  color: var(--mat-sys-on-primary-container);
}
