.container {
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: var(--mat-sys-secondary);

  // --size: 36px;
  // height: var(--size);
  // width: var(--size);
  // border-radius: var(--size);
}

.icon {
  --size: 36px;
  font-size: var(--size);
  width: var(--size);
  height: var(--size);
  color: var(--mat-sys-on-primary-container);
}
