.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  border-radius: 0;
  border-right: 1px solid var(--mat-sys-outline);
  background-color: var(--mat-sys-surface);
}

.sidenav-title {
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-primary-container);
}

.icon {
  color: var(--mat-sys-on-primary-container) !important;
}

