<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="isHandset() ? 'dialog' : 'navigation'"
        [mode]="isHandset() ? 'over' : 'side'" [opened]="isHandset() === false">
        <mat-toolbar class="sidenav-title">Meu projeto</mat-toolbar>
        <mat-nav-list>
            <mat-list-item>
                <mat-icon matListItemIcon fontIcon="list_alt" class="material-icons-outlined icon"></mat-icon>
                <a matListItemTitle href="#">Backlog</a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListItemIcon fontIcon="view_kanban" class="material-icons-outlined icon"></mat-icon>
                <a matListItemTitle href="#">Board</a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListItemIcon fontIcon="group" class="material-icons-outlined icon"></mat-icon>
                <a matListItemTitle href="#">Users</a>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-navigation-toolbar></app-navigation-toolbar>
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>